<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="my-header" id="aboutSec">
    <app-my-header></app-my-header>
  </div>
  <div class="my-about">
    <app-my-about></app-my-about>
  </div>
  <div class="my-section-tf">
    <app-my-section-tf></app-my-section-tf>
  </div>
  <div class="my-model" id="gameSec">
    <app-my-game></app-my-game>
  </div>
  <div class="my-how-to" id="howToSec">
    <app-how-to></app-how-to>
  </div>
  <div class="my-predict-sc" id="tryItSec">
    <app-predict-section></app-predict-section>
  </div>
  <div class="my-footer">
    <app-my-footer></app-my-footer>
  </div>
</div>
