.game {
  text-align: center;
  padding: 10px;
}

.game h2 {
  color: #1a73e8;
}

.game .game-container {
  margin: auto;
  height: 500px;
  width: 500px;
  border: 2px solid #1a73e8;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
