<div class="my-section">
  <p style="margin-bottom: 10px;">what is it to do with tensorflow, and deep learning?</p>
  <p>I used tensorflow 2.0 to train CNN model to recognize difference between three particular types of Lymphoma.</p>
  <div class="card-container">
    <div class="grid">
      <div class="card">
        <div class="card-header">
          <h3>FL</h3>
        </div>
        <div class="card-body">
          <p>
            Follicular lymphoma (FL) is typically a slow-growing or indolent form of non- Hodgkin lymphoma (NHL) that
            arises from B-lymphocytes, making it a B-cell lymphoma. This lymphoma subtype accounts for 20 to 30 percent
            of
            all
            NHL cases.
          </p>
        </div>

      </div>
      <div class="card">
        <div class="card-header">
          <h3>CLL</h3>
        </div>
        <div class="card-body">
          <p>
            Chronic lymphocytic leukemia (CLL) is cancer that affect lymphocytes.
            When most of the cancer cells are located in the bloodstream and the bone marrow, the disease is referred to
            as
            CLL.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3>
            MCL
          </h3>
        </div>
        <div class="card-body">
          <p>
            Mantle Cell lymphoma is typically an aggressive, rare, form of non-Hodgkin lymphoma (NHL) that arises from
            cells originating in the “mantle zone.” MCL accounts for roughly six percent of all NHL cases in the United
            States.
          </p>
        </div>
      </div>
    </div>
    <div class="grid">
      <div><img src="assets/img/FL/1.jpeg"></div>
      <div><img src="assets/img/CLL/1.jpeg"></div>
      <div><img src="assets/img/MCL/1.jpeg"></div>
      <div><img src="assets/img/FL/2.jpeg"></div>
      <div><img src="assets/img/CLL/2.jpeg"></div>
      <div><img src="assets/img/MCL/2.jpeg"></div>
      <div><img src="assets/img/FL/3.jpeg"></div>
      <div><img src="assets/img/CLL/3.jpeg"></div>
      <div><img src="assets/img/MCL/3.jpeg"></div>
    </div>
    <div style="margin-top: 55px;padding: 5px;">
      <p>
        as you can see, it is very hard to identify the difference between this three type of cancers, or at least to
        normal person who have not been studied these type before; moreover, not all doctor can easly know which one is
        which.
      </p>
    </div>
  </div>

</div>
