/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
  margin: 0;
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "section-tf section-tf section-tf section-tf"
    "model model model model"
    "how-to how-to how-to how-to"
    "predict-sc predict-sc predict-sc predict-sc"
    "footer footer footer footer";
}

.game {
  text-align: center;
  padding: 10px;
}

.game h2 {
  color: #1a73e8;
}

.game .game-container {
  margin: auto;
  width: 500px;
  min-height: 500px;
  border: 2px solid #1a73e8;
  border-radius: 0.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-selected {
  width: 100%;
  vertical-align: middle;
}

.my-header {
  grid-area: header;
}

.my-about {
  grid-area: main;
}

.my-section-tf {
  grid-area: section-tf
}

.my-model {
  grid-area: model;
}

.my-footer {
  grid-area: footer;
}

.my-how-to {
  grid-area: how-to;
}

.my-predict-sc {
  grid-area: predict-sc;
}
