<div id="lymphoma">
  <div class="container">
    <div>
      <h2>Lymphoma</h2>
      <p>
        "Lymphoma is a cancer that starts in cells that are part of the body's immune system. Knowing which type of
        lymphoma
        you have is important because it affects your treatment options and your outlook (prognosis)."
      </p>
      <div id="quote">
        <h3>
          <a href="https://www.cancer.org/cancer/lymphoma.html" target="_blank">according to American Cancer Society</a>
        </h3>
      </div>
    </div>
  </div>
</div>
