<div class="how">
  <h2 class="center">How it works </h2>
  <div class="how-container">
    <div class="text-box">
      <p>tensorflow 2.0 made developing such powerful deep learning model, a very easy task.
        having build-in Keras api inside tensorflow, make develop, train, run prediction using model in less then 100
        line
        of code
      </p>
      <ul style="text-align: left;">
        <li> first, design model, in our case we try to build Convolutional neural network (CNN), so i added multiple
          conv2D layers followed by Max Booling layer </li>
        <li>second, we need to compile model and define optimizer and loss function.</li>
        <li>finally, we need to train model. </li>
        <li> to run prediction right from browser, we need to convert model from keras (.h5) to tensorflowjs (.json)
          using converter utilities method </li>
        <li>to use model in browser, we need to include tensorflowjs script tag and use loadLayersModel to load model
        </li>
        <li>now we have a complete running model that you can use to predict </li>
      </ul>
    </div>
    <div class="img-box"><img src="assets/img/10.jpg"></div>

  </div>

</div>
